<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kgk.beacon"
    android:versionCode="42"
    android:versionName="1.6.9.10" >

    <permission
        android:name="kgk.beacon.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Google Cloud Messaging permissions -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <permission
        android:name="kgk.beacon.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="kgk.beacon.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".util.AppController"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".view.general.LoginActivity"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.general.ProductActivity"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.general.DeviceListActivity"
            android:theme="@style/NoActionBarTheme"
            android:label="@string/device_list_activity_action_bar_label"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.actis.InformationActivity"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.general.DeviceListActivity" />
        </activity>

        <activity
            android:name=".view.actis.HistoryActivity"
            android:label="@string/history_action_bar_label"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.actis.InformationActivity" />
        </activity>

        <activity
            android:name=".view.actis.PathActivity"
            android:label="@string/path_action_bar_label"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.actis.InformationActivity" />
        </activity>

        <activity
            android:name=".view.actis.DatePickerActivity"
            android:label="@string/date_picker_action_bar_label"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".view.actis.MapCustomActivity"
            android:label="@string/map_custom_action_bar_label"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.actis.InformationActivity" />
        </activity>

        <activity
            android:name=".view.devices.activity.MonitoringActivity"
            android:label="@string/monitoring_activity_toolbar_title"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.general.LoginActivity" />
        </activity>

        <activity
            android:name=".view.devices.activity.DetailReportActivity"
            android:label="@string/detail_report_activity_toolbar_title"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.devices.activity.MonitoringActivity" />
        </activity>

        <activity
            android:name=".view.actis.SettingsActivity"
            android:label="@string/settings_action_bar_label"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.actis.InformationActivity" />
        </activity>

        <activity
            android:name=".view.actis.HelpActivity"
            android:label="@string/help_screen_title"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.actis.InformationActivity" />
        </activity>

        <activity
            android:name=".view.generator.activity.MainActivity"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.generator.activity.HistoryActivity"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait" />

        <service android:name=".networking.gcm.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="kgk.beacon" />
            </intent-filter>
        </receiver>

        <uses-library android:name="com.google.android.maps"/>

        <!-- Google Maps Debug Key - AIzaSyCOu4_JJCmkUeTw52GEazS419ARsq4HNxQ -->
        <!-- Google Maps Release Key - AIzaSyD9sGjGWK5n6YcJQ5adw9eR2v8y_tnQbVk -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCOu4_JJCmkUeTw52GEazS419ARsq4HNxQ" />

        <!-- MONITORING MODULE -->

        <activity android:name=".monitoring.presentation.activity.MapActivity"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait" />

        <activity android:name=".monitoring.presentation.activity.MonitoringListActivity"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait" />

        <activity android:name=".monitoring.presentation.activity.ProfileActivity"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait" />

        <activity android:name=".monitoring.presentation.activity.MonitoringEntityActivity"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait" />

    </application>

</manifest>
